@import './AllColors.scss';

.changePageComp{
    display: inline-block;
    color: $numberColor;
    .fas{
        padding: 15px;
        margin: 0 10px;
        color: $arrowBorder;
        border-radius: 50%;
        border: 1px solid $arrowBorder;
        cursor: pointer;
        &:hover{
            transform: scale(1.1);
        }
    }
}

